.contact {
    width: 65%;
    margin: 100px auto;
    padding-top: 25px;
    display: flex;
}
.contact__text {
    width: 50%;
    padding-right: 30px;
    text-align: right;
}
.contact__header {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 45px;
    margin: 0;
}
.contact__description {
    width: 76%;
    float: right;
    font-family: 'Roboto', sans-serif;
    color: #A7A7A7;
    margin: 20px 0;
    line-height: 2;
}
.contact__description--width {
    width: 80%;
}
.contact__data {
    width: 50%;
}