.contact {
    width: 65%;
    margin: 100px auto;
    padding-top: 25px;
    display: flex;
}
.contact__text {
    width: 50%;
    padding-right: 30px;
    text-align: right;
}
.contact__header {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 45px;
    margin: 0;
}
.contact__description {
    width: 76%;
    float: right;
    font-family: 'Roboto', sans-serif;
    color: #A7A7A7;
    margin: 20px 0;
    line-height: 2;
}
.contact__description--width {
    width: 80%;
}
.contact__data {
    width: 50%;
}
.contact__two-fields {
    display: flex;
}
.contact__form-field {
    position: relative;
}
.contact__form-field--width {
    width: 50%;
}
.contact__field-title {
    position: absolute;
    top: 10px;
    left: 7px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #A8A3A3;
    cursor: text;
}
.contact__field {
    width: 100%;
    padding: 30px 5px 5px 7px;
    font-family: 'Roboto', sans-serif;
    border: 1px solid #A3A3A3;
    color: #A8A3A3;
}
.contact__field--padding {
    padding: 27px 5px 5px 7px;
}
.contact__button {
    background: #FB414E;
    border: 1px solid #A3A3A3;
    color: #FFF;
    width: 100%;
    padding: 15px 0;
    cursor: pointer;
}