.footer {
    background: rgb(32, 43, 48);
    color: #FFF;
    text-align: center;
    padding: 25px 0;
}
.footer__copyright {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer__text {
    margin: 0;
}
.footer__link {
    color: unset;
    text-decoration: none;
}