.main-header {
    background-image: url("../images/main/background.jpg");
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.main-header::after {
    content: "";
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.main-header__box {
    width: 1000px;
    text-align: center;
    z-index: 1;
}
.main-header__title, .main-header__description {
    color: #FFF;
}
.main-header__title {
    font-family: 'Source Sans Pro';
    font-size: 50px;
}
.main-header__description {
    font-size: 20px;
}