.main-header {
    background-image: url("../images/main/background.jpg");
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.main-header::after {
    content: "";
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.main-header__box {
    max-width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 1;
}
.main-header__title, .main-header__description {
    color: #FFF;
}
.main-header__title {
    font-family: 'Source Sans Pro';
    font-size: 50px;
}
.main-header__description {
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 100;
    line-height: 1.2em;
    max-width: 60%;
}
.main-header__buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.main-header__buttons-item {
    width: 150px;
    border: 3px solid rgb(255, 0, 0);
    color: #FFF;
    text-decoration: none;
    text-transform: capitalize;
    margin: 0 10px;
    padding: 10px 0;
    font-family: 'Roboto';
    font-size: 18px;
}
.main-header__buttons-item--background {
    background:rgb(255, 0, 0);
}