.main-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../images/main/background.jpg");
    background-size: cover;
    background-position: center;
    height: 90vh;
    position: relative;
}
.main-banner::after {
    content: "";
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}