.mobile-menu {
    --line: 1px solid #CCC;
    --textColor: #AAA;
    --textSize: 18px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #FFF;
    z-index: 1;
    transform: translateX(100%);
    transition: 0.3s;
}
.mobile-menu__header {
    display: flex;
    align-items: center;
    border-bottom: var(--line);
}
.mobile-menu__back {
    padding: 5vw;
    border-right: var(--line);
}
.mobile-menu__title {
    color: var(--textColor);
    font-size: var(--textSize);
    margin: 0 auto;
}
.mobile-menu__navigation {
    list-style: none;
    padding: 0;
    margin: 0;
}
.mobile-menu__navigation-item {
    border-bottom: var(--line);
    padding: 5vw 0;
}