.navigation {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.navigation__menu {
    display: flex;
    list-style: none;
    padding-left: 0;
}
.navigation__menu-link {
    color: #FFF;
    text-decoration: none;
}