.navigation {
    width: 70vw;
    margin: 0 auto;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.navigation__menu {
    display: flex;
    list-style: none;
    padding-left: 0;
}
.navigation__menu-link {
    color: #FFF;
    text-decoration: none;
}