.services {
    text-align: center;
}
.services__subtitle {
    color: rgb(251, 65, 78);
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    margin: 0;
    padding-top: 25px;
}
.services__header-title {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 55px;
}
.services__highlighted-text {
    color: rgb(251, 65, 78);
    text-transform: capitalize;
}
.services__text {
    max-width: 600px;
    margin: 0 auto;
    color: rgb(167, 167, 167);
    font-family: 'Source Sans Pro', sans-serif;
}
.services__article {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px 50px;
    margin: 100px 0;
    padding: 0 80px;
}
.services__title {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 25px;
}
.services__description {
    font-family: 'Roboto', sans-serif;
    padding: 0 8%;
}
@media (max-width: 1050px) {
    .services__article {
        padding: 0;
    }
}
@media (max-width: 760px) {
    .services__article {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 550px) {
    .services__article {
        grid-template-columns: 1fr;
        gap: 50px;
    }
}