.services {
    text-align: center;
}
.services__subtitle {
    color: rgb(251, 65, 78);
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}
.services__header-title {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 52px;
}
.services__highlighted-text {
    color: rgb(251, 65, 78);
    text-transform: capitalize;
}
.services__text {
    width: 46%; /* Correct it */
    margin: 0 auto;
    color: rgb(167, 167, 167);
    font-family: 'Source Sans Pro', sans-serif;
}
.services__article {
    display: flex;
}