.tiles {
    display: flex;
    justify-content: space-around;
    position: relative;
    top: -70px;
}
.tiles__informations {
    width: 30%;
    background: rgb(32, 43, 48);
    padding: 50px 60px;
}
.tiles__informations:hover {
    background: rgb(251, 65, 78);
}
.tiles__icon {
    width: 60px;
    margin: 20px 0;
}
.tiles__header {
    font-family: 'Roboto', sans-serif;
    color: #FFF;
    text-transform: capitalize;
}
.tiles__line {
    width: 50px;
    border-bottom: 1px solid #FFF;
}
.tiles__description {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #FFF;
}