.tiles {
    width: 70vw;
    margin: 0 auto;
    display: flex;
}
.tiles__informations {
    flex: 30%;
    background: rgb(32, 43, 48);
    padding: 60px 50px;
}
.tiles__informations-icon {
    width: 60px;
}
.tiles__informations-header {
    color: #FFF;
}
.tiles__informations-line {
    width: 50px;
    border-bottom: 1px solid #FFF;
}
.tiles__informations-description {
    color: #FFF;
}