.tiles {
    width: 70vw;
    margin: 0 auto;
    display: flex;
}
.tiles__informations {
    flex: 30%;
}
.tiles__informations-icon {
    width: 60px;
}
.tiles__informations-line {
    width: 50px;
    border-bottom: 1px solid #FFF;
}